[Desktop Entry]
Name=Orxonox
Comment=A spacecraft shooter
Exec=/usr/games/orxonox
Icon=/usr/share/pixmaps/orxonox.png
Type=Application
Categories=Game;ActionGame;
