Orxonox/HUD1.1
{
	zorder 500
	// Stats block
	container BorderPanel(Orxonox/HUD1.1/Time)
	{
		metrics_mode pixels
		vert_align top
		horz_align center
		left -140
		top 10
		width 280
		height 60
		material Orxonox/BackGround
        	border_size 1 1 1 1
        	border_material Orxonox/Black
        	border_topleft_uv     0.0000 1.0000 0.0039 0.9961
	    	border_top_uv         0.0039 1.0000 0.9961 0.9961
	    	border_topright_uv    0.9961 1.0000 1.0000 0.9961
	    	border_left_uv        0.0000 0.9961 0.0039 0.0039
	    	border_right_uv       0.9961 0.9961 1.0000 0.0039
	    	border_bottomleft_uv  0.0000 0.0039 0.0039 0.0000
        	border_bottom_uv      0.0039 0.0039 0.9961 0.0000
	    	border_bottomright_uv 0.9961 0.0039 1.0000 0.0000
	
		element Panel(Orxonox/HUD1.1/TimeImg)
		{
			metrics_mode pixels
			left 0
			top 0
			width 60
			height 60
			material Orxonox/Clock
		}

		element Panel(Orxonox/HUD1.1/TimeLine)
		{
			metrics_mode pixels
			left 60
			top 0
			width 2
			height 60
			material Orxonox/Black
		}		
		

	}

	container BorderPanel(Orxonox/HUD1.1/Ammo)
	{
		metrics_mode pixels
		vert_align bottom
		horz_align left
		left 10
		top -70
		width 180
		height 60
		material Orxonox/BackGround
        	border_size 1 1 1 1
        	border_material Orxonox/Black
        	border_topleft_uv     0.0000 1.0000 0.0039 0.9961
	    	border_top_uv         0.0039 1.0000 0.9961 0.9961
	    	border_topright_uv    0.9961 1.0000 1.0000 0.9961
	    	border_left_uv        0.0000 0.9961 0.0039 0.0039
	    	border_right_uv       0.9961 0.9961 1.0000 0.0039
	    	border_bottomleft_uv  0.0000 0.0039 0.0039 0.0000
        	border_bottom_uv      0.0039 0.0039 0.9961 0.0000
	    	border_bottomright_uv 0.9961 0.0039 1.0000 0.0000
	
		element Panel(Orxonox/HUD1.1/AmmoImg)
		{
			metrics_mode pixels
			left 0
			top 0
			width 60
			height 60
			material Orxonox/Gun
		}

		element Panel(Orxonox/HUD1.1/AmmoLine)
		{
			metrics_mode pixels
			left 60
			top 0
			width 2
			height 60
			material Orxonox/Black
		}		
		

	}

	container BorderPanel(Orxonox/HUD1.1/Life)
	{
		metrics_mode pixels
		vert_align bottom
		horz_align center
		left -90
		top -70
		width 180
		height 60
		material Orxonox/BackGround
        	border_size 1 1 1 1
        	border_material Orxonox/Black
        	border_topleft_uv     0.0000 1.0000 0.0039 0.9961
	    	border_top_uv         0.0039 1.0000 0.9961 0.9961
	    	border_topright_uv    0.9961 1.0000 1.0000 0.9961
	    	border_left_uv        0.0000 0.9961 0.0039 0.0039
	    	border_right_uv       0.9961 0.9961 1.0000 0.0039
	    	border_bottomleft_uv  0.0000 0.0039 0.0039 0.0000
        	border_bottom_uv      0.0039 0.0039 0.9961 0.0000
	    	border_bottomright_uv 0.9961 0.0039 1.0000 0.0000
	
		element Panel(Orxonox/HUD1.1/LifeImg)
		{
			metrics_mode pixels
			left 0
			top 0
			width 60
			height 60
			material Orxonox/Man
		}

		element Panel(Orxonox/HUD1.1/LifeLine)
		{
			metrics_mode pixels
			left 60
			top 0
			width 2
			height 60
			material Orxonox/Black
		}	
		

	}



	container BorderPanel(Orxonox/HUD1.1/MapBackGround)
	{
		metrics_mode pixels
		vert_align bottom
		horz_align right
		left -210
		top -210
		width 200
		height 200
		material Orxonox/MapBackGround
		
		

	}
}
