Orxonox/HUD
{
	zorder 500
	// Stats block
	container BorderPanel(Orxonox/Panel)
	{
		metrics_mode pixels
		vert_align top
		left 5 
		top 5
		width 250
		height 90
		material Orxonox/Red
        	border_size 1 1 1 1
        	border_material Core/StatsBlockBorder
        	border_topleft_uv     0.0000 1.0000 0.0039 0.9961
	    	border_top_uv         0.0039 1.0000 0.9961 0.9961
	    	border_topright_uv    0.9961 1.0000 1.0000 0.9961
	    	border_left_uv        0.0000 0.9961 0.0039 0.0039
	    	border_right_uv       0.9961 0.9961 1.0000 0.0039
	    	border_bottomleft_uv  0.0000 0.0039 0.0039 0.0000
        	border_bottom_uv      0.0039 0.0039 0.9961 0.0000
	    	border_bottomright_uv 0.9961 0.0039 1.0000 0.0000

		    


		container BorderPanel(Orxonox/HUD1/SuperEggPanel)
		{	
    		    	border_size 1 1 1 1
        		border_material Core/StatsBlockBorder
        		border_topleft_uv     0.0000 1.0000 0.0039 0.9961
	    		border_top_uv         0.0039 1.0000 0.9961 0.9961
	    		border_topright_uv    0.9961 1.0000 1.0000 0.9961
	    		border_left_uv        0.0000 0.9961 0.0039 0.0039
	    		border_right_uv       0.9961 0.9961 1.0000 0.0039
	    		border_bottomleft_uv  0.0000 0.0039 0.0039 0.0000
        		border_bottom_uv      0.0039 0.0039 0.9961 0.0000
	    		border_bottomright_uv 0.9961 0.0039 1.0000 0.0000
			metrics_mode pixels
			horz_align left
			vert_align top
			top 10
			left 10
			width 70
			height 70
			material Orxonox/SuperEgg
		}

		element TextArea(Orxonox/HUD1/HP)
		{
			metrics_mode pixels
			left 100
			top 15
			width 50
			height 25
			font_name BlueHighway
			char_height 25
			caption HP:
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}



		container BorderPanel(Orxonox/HUD1/HPBar)
		{	
    		    	border_size 1 1 1 1
        		border_material Core/StatsBlockBorder
        		border_topleft_uv     0.0000 1.0000 0.0039 0.9961
	    		border_top_uv         0.0039 1.0000 0.9961 0.9961
	    		border_topright_uv    0.9961 1.0000 1.0000 0.9961
	    		border_left_uv        0.0000 0.9961 0.0039 0.0039
	    		border_right_uv       0.9961 0.9961 1.0000 0.0039
	    		border_bottomleft_uv  0.0000 0.0039 0.0039 0.0000
        		border_bottom_uv      0.0039 0.0039 0.9961 0.0000
	    		border_bottomright_uv 0.9961 0.0039 1.0000 0.0000
			metrics_mode pixels
			horz_align left
			vert_align top
			top 25
			left 140
			width 100
			height 15
			material Orxonox/Red
		}

		element TextArea(Orxonox/HUD1/HPText)
		{
			metrics_mode pixels
			horz_align left
			left 140
			top 10
			width 100
			height 15
			font_name BlueHighway
			char_height 15
			caption 1000/1000
			colour 1 1 1 
		}

		container Panel(Orxonox/HUD1/Shot1)
		{	
			metrics_mode pixels
			horz_align left
			vert_align top
			top 55
			left 110
			width 30
			height 25
			material Orxonox/Shot
		}

		container Panel(Orxonox/HUD1/Shot2)
		{	
			metrics_mode pixels
			horz_align left
			vert_align top
			top 55
			left 160
			width 30
			height 25
			material Orxonox/Shot
		}
		
		container Panel(Orxonox/HUD1/Shot3)
		{	
			metrics_mode pixels
			horz_align left
			vert_align top
			top 55
			left 210
			width 30
			height 25
			material Orxonox/Shot
		}


		

	}
}
