Orxonox/LoadingScreenSample
{
   container Panel(Orxonox/LoadingScreenSample)
   {
      metrics_mode pixels
      vert_align top
      left 12
      top 12
      width 300
      height 300
      material Orxonox/LoadingScreenSample
   }
}